<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AppTermination</key>
	<dict>
		<key>QuitShortcutIsEnabled</key>
		<true/>
	</dict>
	<key>FontStyles</key>
	<dict>
		<key>DefaultPrimary</key>
		<dict>
			<key>SystemFontWeight</key>
			<string>Regular</string>
			<key>Size</key>
			<integer>13</integer>
		</dict>
		<key>Title</key>
		<dict>
			<key>SystemFontWeight</key>
			<string>Bold</string>
			<key>Size</key>
			<integer>30</integer>
		</dict>
		<key>Subtitle</key>
		<dict>
			<key>SystemFontWeight</key>
			<string>Semibold</string>
		</dict>
	</dict>
	<key>ColorStyles</key>
	<dict>
		<key>Main</key>
		<dict>
			<key>DarkMode</key>
			<string>#819ABE</string>
			<key>LightMode</key>
			<string>#ED682580</string>
		</dict>
		<key>Secondary</key>
		<dict>
			<key>DarkMode</key>
			<string>#ffffff</string>
			<key>LightMode</key>
			<string>#000000</string>
		</dict>
	</dict>
	<key>Admin</key>
	<dict>
		<key>IsAdminModeEnabled</key>
		<false/>
	</dict>
	<key>General</key>
	<dict>
		<key>Variables</key>
		<dict>
			<key>Root</key>
			<string>/Library/Application Support/Octory</string>
			<key>Resources</key>
			<string>${Root}/Resources</string>
			<key>AppIcons</key>
			<string>${Resources}/AppIcons</string>
			<key>Images</key>
			<string>${Resources}/Images</string>
			<key>Company</key>
			<string>Numberwang!</string>
		</dict>
	</dict>
	<key>Window</key>
	<dict>
		<key>OnScreen</key>
		<string>BlurredBackground</string>
	</dict>
	<key>Navigation</key>
	<dict>
		<key>QuitButtonText</key>
		<string>Finish!</string>
		<key>UserCanQuitIfInstallationIsIncomplete</key>
		<true/>
	</dict>
	<key>Slides</key>
	<array>
		<dict>
			<key>Containers</key>
			<array>
				<dict>
					<key>IsLarge</key>
					<true/>
					<key>Components</key>
					<array>
						<dict>
							<key>Type</key>
							<string>Image</string>
							<key>URL</key>
							<string>${Images}/Numberwang.jpg</string>
							<key>ShouldFillSpace</key>
							<true/>
						</dict>
					</array>
				</dict>
				<dict>
					<key>Components</key>
					<array>
						<dict>
							<key>Margins</key>
							<dict>
								<key>Bottom</key>
								<integer>10</integer>
								<key>Top</key>
								<integer>16</integer>
								<key>Left</key>
								<integer>5</integer>
								<key>Right</key>
								<integer>15</integer>
							</dict>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Bottom</string>
							</dict>
							<key>Type</key>
							<string>Text</string>
							<key>Text</key>
							<string>Please wait while your software is installed...</string>
							<key>BorderEdge</key>
							<string>Bottom</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
							</dict>
						</dict>
						<dict>
							<key>Type</key>
							<string>MonitorsDisplay</string>
						</dict>
						<dict>
							<key>Margins</key>
							<dict>
								<key>Bottom</key>
								<integer>16</integer>
								<key>Top</key>
								<integer>16</integer>
							</dict>
							<key>Type</key>
							<string>Text</string>
							<key>Border</key>
							<dict>
								<key>Edge</key>
								<string>Top</string>
							</dict>
							<key>Text</key>
							<string>Welcome to ${Company} 👋</string>
							<key>TextFontConfiguration</key>
							<dict>
								<key>TextAlignment</key>
								<string>Center</string>
								<key>Color</key>
								<dict>
									<key>DarkMode</key>
									<string>#819ABE</string>
									<key>LightMode</key>
									<string>#ED682580</string>
								</dict>
								<key>Size</key>
								<integer>30</integer>
							</dict>
						</dict>
					</array>
				</dict>
			</array>
		</dict>
	</array>
	<key>Monitoring</key>
	<dict>
		<key>Monitors</key>
		<array>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Microsoft Office</string>
				<key>DisplayName</key>
				<string>Microsoft Office</string>
				<key>Installer</key>
				<string>Managed</string>
				<key>IconURL</key>
				<string>${AppIcons}/Office.png</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Gimp</string>
				<key>DisplayName</key>
				<string>GNU Image Manipulation Editor</string>
				<key>Installer</key>
				<string>System</string>
				<key>IconURL</key>
				<string>${AppIcons}/Gimp.png</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Microsoft Edge</string>
				<key>DisplayName</key>
				<string>Microsoft Edge</string>
				<key>Installer</key>
				<string>System</string>
				<key>IconURL</key>
				<string>${AppIcons}/Edge.png</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Microsoft Defender ATP</string>
				<key>DisplayName</key>
				<string>Microsoft Defender</string>
				<key>Installer</key>
				<string>System</string>
				<key>IconURL</key>
				<string>${AppIcons}/Defender.png</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Remote Desktop</string>
				<key>DisplayName</key>
				<string>Remote Desktop</string>
				<key>Installer</key>
				<string>System</string>
				<key>IconURL</key>
				<string>${AppIcons}/RemoteDesktop.png</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Visual Studio Code</string>
				<key>DisplayName</key>
				<string>Visual Studio Code</string>
				<key>Installer</key>
				<string>System</string>
				<key>IconURL</key>
				<string>${AppIcons}/Visualstudiocode.png</string>
			</dict>
			<dict>
				<key>Type</key>
				<string>Application</string>
				<key>Name</key>
				<string>Company Portal</string>
				<key>DisplayName</key>
				<string>Company Portal</string>
				<key>Installer</key>
				<string>System</string>
				<key>IconURL</key>
				<string>${AppIcons}/CompanyPortal.png</string>
			</dict>
		</array>
	</dict>
</dict>
</plist>
